<div class="row">
    <div class="col-12 col-md-12 text-center">
        <h1 class="display-4 mb-5">
            The Weeknd e Drake fazem doações de US$ 500 mil para movimento antirracismo.
        </h1>
        <div class="col-12 col-md-12 justify-content-center">
            <div class="col-12 col-md-12 card">
                <img class="img-thumbnail" src="img/2.jpg" alt="">
            </div>
            <p class="lead" style="font-weight: bold;">
                Os cantores The Weeknd e Drake anunciaram nos últimos dias que realizaram doações no valor de 500 mil dólares cada para organizações ligadas ao movimento antirracismo. As ações ocorrem em meio à uma série de protestos nos Estados Unidos desencadeados pelo assassinato de George Floyd.

                                The Weeknd realizou doações para três organizações: a Black Lives Matter Global Network, a National Bail Out e a Know Your Rights Camp, criada pelo atleta Colin Kaepernick. Kaepernick ficou famoso nos Estados Unidos por se ajoelhar enquanto o hino nacional americano tocava no início de partidas de futebol americano, como forma de protesto contra o racismo no país.
                                
                                “Continuem apoiando nossos irmãos e irmãs lá fora arriscando tudo para gerar mudanças verdadeiras nas nossas vidas negras. Peço para todos com bolsos grandes que doem, e doem muito e se você tem pouco, por favor doe o que você pode, mesmo que seja um valor pequeno”, disse o cantor em uma publicação em sua conta no Instagram.
                                
                                O rapper Drake fez o anúncio em seus storys no Instagram e doou todo o valor para a National Bail Out, que usa o dinheiro para pagar fianças e ajudar manifestantes presos durante as manifestações antirracismo que ocorrem nos Estados Unidos há mais de seis dias.
                                
                                Além dos cantores outros artistas também anunciaram doações para diversas organizações. O casal de atores Black Lively e Ryan Reynolds doou 200 mil dólares (cerca de R$ 1 milhão na cotação atual) para o NAACP Legal Defense Fund, que trabalha na defesa jurídica, de forma gratuita, de pessoas vítimas de injustiças raciais.
            </p>
            <a href="index.html" class="btn btn-primary btn-lg mb-5 back">Voltar</a>
        </div>
    </div>
</div>