<div class="row">
    <div class="col-12 col-md-12 text-center">
        <h1 class="display-4 mb-5">
            Dançarina Raielli Leon acusa MC Livinho de racismo; cantor responde.
        </h1>
        <div class="col-12 col-md-12 justify-content-center">
            <div class="col-12 col-md-12 card">
                <img class="img-thumbnail" src="img/1.jpeg" alt="">
            </div>
            <p class="lead" style="font-weight: bold;">A dançarina e modelo Raielli Leon acusou na última terça-feira (2) o funkeiro MC Livinho de racismo e assédio moral durante a gravação de um clipe do cantor há cerca de três anos. Nas redes sociais, Ray, como é conhecida, relembrou as falas e situações em que Livinho a fez se sentir ofendida.

                “Ele começou a fazer dancinhas obscenas, virado pro meu lado, pegando no saco, como se estivesse sarrando. E fiquei incomodada ali naquele momento. Nem falou comigo o clipe inteiro e do nada fazendo essas brincadeiras. Pra confirmar meu incômodo, ele tirou o celular do bolso dele, colocou no meu cabelo, puxou e falou: ‘você roubou meu celular, cabelo!’. Eu já incomodada, tirei a mão dele. Quebrou o meu encanto pelo artista”, disse a modelo.
                
                Ray contou que as demais pessoas no set apenas riram das situações, enquanto Livinho continuava a repetir os gestos no cabelo da dançarina. Ela disse que ele não pediu desculpas mesmo após dizer, por diversas vezes, que estava incomodada com a situação.
                
                “Eu só esperava que ele se desculpasse, nem que fosse por telefone e a vida ia seguir normal. Sabe o que ele fez? Me xingou de todos os nomes possíveis, falou que ia acabar com a minha carreira, que eu deveria ter medo do que eu estava falando e com quem eu estava brincando. Fiquei mal, desesperada.”
                                
                Na madrugada desta quarta-feira (3), MC Livinho fez uma live no Instagram para responder as acusações, mas não deixou a transmissão online salva.
                
                Segundo a revista Quem, o funkeiro não negou as situações relatadas por Ray, mas afirmou que pediu desculpas no mesmo dia do ocorrido.
                
                “Eu sou homem e arco com as minhas responsabilidades. Para meus fãs, está aí eu me retratando e pedindo para vocês terem compressão e entenderem o que aconteceu. (…) As desculpas foram pedidas no dia. Fui pedir desculpa, pedir perdão. Eu já pedi desculpa no primeiro momento. Teve a brincadeira, sim, me retratei na hora, ela não aceitou. Não falei nada além. Ela está levantando coisas sobre mim que eu não falei, me transformando numa pessoa que eu não sou. Não sou culpado, me retratei”, afirmou ele.
            </p>
            <a href="index.html" class="btn btn-primary btn-lg mb-5 back">Voltar</a>
        </div>
    </div>
</div>