<div class="row">
    <div class="col-12 col-md-12 text-center">
        <h1 class="display-4 mb-5">
            Na vibe ‘sem tempo irmão’, Seth Rogen responde racistas nas redes sociais.
        </h1>
        <div class="col-12 col-md-12 justify-content-center">
            <div class="col-12 col-md-12 card">
                <img class="img-thumbnail" src="img/3.webp" alt="">
            </div>
            <p class="lead" style="font-weight: bold;">O ator Seth Rogen não teve paciência para comentários racistas em uma publicação em apoio às manifestações que acontecem há mais de uma semana nos Estados Unidos por causa do assassinato de George Floyd.

                Na segunda-feira (1º), Rogen postou uma imagem no Instagram com a frase “Vidas negras importam” e, como legenda, já desafiou os seguidores: “Se isso remotamente contraria você, sinta-se à vontade para deixar de me seguir”.
                
                Comentários como “todas as vidas importam”, “negros também são racistas” e “foda-s* você e seu ativismo virtual” foram duramente respondidos pelo ator, que não poupou palavrões para os ex-seguidores.
                
                A atitude de Rogen, conhecido pelos filmes “É o Fim”, “Ligeiramente Grávidos” e “Segurando as Pontas”, foi celebrada nas redes sociais pelos fãs.
                
                Diversos artistas têm se manifestado em apoio aos protestos que acontecem desde a morte de Floyd, um americano negro que foi morto por um policial branco em uma abordagem questionada pela brutalidade do agente público.
            </p>
            <a href="index.html" class="btn btn-primary btn-lg mb-5 back">Voltar</a>
        </div>
    </div>
</div>