<div class="row">
    <div class="col-12 col-md-12 text-center">
        <h1 class="display-4 mb-5">
            Monica Iozzi diz que irmã pegou covid-19 e critica empresa dela: 'Egoísmo'.
        </h1>
        <div class="col-12 col-md-12 justify-content-center">
            <div class="col-12 col-md-12 card">
                <img class="img-thumbnail" src="img/4.webp" alt="">
            </div>
            <p class="lead" style="font-weight: bold;">Monica Iozzi contou aos seus seguidores no Instagram, hoje, que sua irmã mais nova foi diagnosticada com a covid-19. A atriz se mostrou revoltada pelo fato de a irmã não ter tido a opção de trabalhar em casa e criticou seus chefes.
                "Ela não pode fazer a quarentena. O dono da empresa em que ela trabalha não permitiu que seus funcionários trabalhassem de casa", escreveu a artista, destacando que a irmã não trabalha em um serviço essencial e que poderia realizar o trabalho de casa."Mesmo avisando a empresa de que ela mora com a minha mãe [Vanda], uma senhora de 68 anos, que faz parte do grupo de risco, ela não pode fazer home office [trabalho em casa]." 
                "É isso que dá o Estado não fazer o que tem de ser feito. Não dá para não colocar a vidas das pessoas em risco apenas 'recomendando' que os empresários respeitem a quarentena. 
                O egoísmo, a ganância e a irresponsabilidade de alguns empresários e governantes ainda vão matar muita gente. 
                Que momento triste que vivemos, que revoltante", concluiu, em uma série de mensagens postadas na função stories da rede social. Monica, que até o fim do ano passado viveu a assessora Kim, em "A Dona do Pedaço", tem feito campanha pelo isolamento social, em publicações em seu perfil do instagram
            </p>
            <a href="index.html" class="btn btn-primary btn-lg mb-5 back">Voltar</a>
        </div>
    </div>
</div>